<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    
    <div class="col-12 col-md-8 offset-md-2">
    
        <h3><%= listing.title %></h3>
    
        <div class="card listing-card" style="width: 100%;">
            <img src="<%= listing.image.url %>" class="card-img-top col-12" alt="listing_image" style="height: 20rem; object-fit: cover;">
            
            <div class="card-body">
                <p class="card-text">
                    <i>Owned by: <%= listing.owner.username %></i> <br>
                    <%= listing.description %> <br>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                    <%= listing.location %> <br>
                    <%= listing.country %>
                </p>
            </div>
        </div>
    
        <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
            <div class="btns mb-5 d-flex">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn me-3 flex-grow-0">Edit</a>
                
                <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" class="d-inline">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        <% } %>

    </div>

    <div class="col-12 col-md-8 offset-md-2 mb-3">
        
        <% if(currentUser) { %>
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>

                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please add some comments for review</div>
                </div>
                
                <button class="btn btn-outline-dark">Submit</button>
            </form>
        <% } %>

        <% if(listing.reviews.length > 0) { %>
            <hr>
            <p><b>All Reviews</b></p>
            
            <div class="row row-cols-1 row-cols-md-2 g-3">
                <% for(review of listing.reviews) { %>
                    <div class="col">
                        
                        <div class="card h-100" style="border: 1px solid #dbdbdb !important; border-radius: 10px;">
                            
                            <div class="card-body p-3 ps-5">
                                <h5 class="card-title mt-2 ms-2">@<%= review.author.username %></h5>
                                <p class="starability-result card-text ms-2" data-rating="<%= review.rating %>"></p>
                                <p class="card-text mt-2 mb-4 ms-2"><%= review.comment %></p>
                                <form class="position-absolute bottom-0 mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark ms-2">Delete</button>
                                </form>
                            </div>

                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>